<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<body>
    <form action="/add" method="POST">
        <fieldset>
            <h3>Add new Employee</h3>
            <label>Employee id: </label>
            <input type="text" id="empId" name="id" required>
        </fieldset>
    </form>
</body>
